:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f5f5f5;
    --text-color: #333333;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    background-image: radial-gradient(
        var(--primary-color)
        var(--secondary-color)
        var(--background-color)
    );
    min-height:100vh;
    background-size: 500% 500%;
    animation: move 20s alternate infinite;
}

@keyframes move {
    from {
        background-position: 0%;
    }
    to {        background-position: 100% 100%;
    }   
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
}

#poster {
    border: 1px dotted;
    display: inline-block;
    padding: 25px;
    text-align: center;
}
#poster-image {
    width: 300px;

}